.container
	width: 100%
	padding-right: 15px
	padding-left: 15px
	margin-right: auto
	margin-left: auto
	+rmin(1260)
		max-width: 1200px
	+rmin(992)
		max-width: 960px
	+rmin(768)
		max-width: 720px
	+rmin(576)
		max-width: 540px

.row
	display: flex
	flex-wrap: wrap
	margin-left: -15px
	margin-right: -15px

.post-content
	+nm
		color: $color-white

	p
		margin: 0 0 25px

		.alignleft,
		.alignright
			+r(767)
				float: none
				display: block

	img
		height: auto

	a
		color: $color-accent
		text-decoration: none

		&:hover
			text-decoration: underline

	blockquote
		padding: 15px 20px 20px 57px
		margin: 0 0 25px
		background-color: rgba(255, 152, 147, 0.2)
		border-left: 2px solid $color-accent
		position: relative

		&::before
			position: absolute
			content: '“'
			top: 4px
			left: 20px
			color: $color-accent
			font-size: 50px
			line-height: 63px

		*
			&:first-child
				margin-top: 0

			&:last-child
				margin-bottom: 0

	ul,
	ol
		margin: 0 0 25px
		padding: 0 0 0 40px
		list-style-type: none

		li
			position: relative

			&::before
				position: absolute
				left: -24px

	ul

		li

			&::before
				content: ''
				width: 8px
				height: 8px
				top: 8px
				border: 2px solid $color-accent
				border-radius: 50%

	ol
		counter-reset: list

		li

			&::before
				counter-increment: list
				content: counter(list) "."
				color: $color-accent
				font-weight: 700

.scf-overlay
	+r(991)
		position: fixed
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: $color-black
		z-index: -1
		opacity: 0

	&.on
		+r(991)
			opacity: .9
			z-index: 6
