.page-404
	padding: 50px 20px
	display: flex
	flex-direction: column
	align-items: center

	.page-404-title
		color: $color-accent
		font-size: 100px
		line-height: 80px
		font-weight: 700
		margin-bottom: 30px

	.page-404-descr
		color: $color-black
		font-size: 24px
		font-weight: 600
		line-height: 27px
		margin-bottom: 25px

	.page-404-btn
		margin-bottom: 20px

	.page-404-link

		a
			color: $color-accent
			font-size: 13px
			line-height: 19px
			text-decoration: underline

			&:hover
				text-decoration: none
